@import 'main/header';
@import 'main/section-1';
@import 'main/section-2';
@import 'main/section-3';
@import 'main/section-4';
@import 'main/footer';

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}