header {
  padding: 20px 20px 80px 20px;
  overflow: hidden;
  background: url(../images/bg-intro-mobile.svg) no-repeat right;
}

header img {
  padding-top: 8px;
  float: left;
  width: 100px;
}

header nav {
  float: right;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  color: white;
  list-style-type: none;
  padding: 5px 10px 5px 10px;
}

header nav ul li:hover {
  background: #05d69b;
  border-radius: 5px;
}

@media only screen and (min-width: 875px) {
  header {
    padding: 20px 20px 630px 20px;
    background: url(../images/bg-intro-desktop.svg) no-repeat right;
  }
  header img {
    position: absolute;
    width: 150px;
  }
  header nav ul li {
    margin: 0 0 0 20px;
    padding: 10px 30px 10px 30px;
  }
}

@media only screen and (min-width: 1024px) {
  header img {
    padding-left: 50px;
  }
}

#section-1 {
  text-align: center;
}

#section-1 .hero-img {
  margin-top: -80px;
}

#section-1 .hero-img img {
  width: 45vh;
  padding-bottom: 50px;
}

#section-1 .hero-text h1 {
  padding: 0 25px 20px 25px;
}

#section-1 .hero-text p {
  padding: 0 25px 50px 25px;
  opacity: 0.65;
  line-height: 1.5;
}

#section-1 .hero-text button {
  font-size: 1.5em;
  padding: 10px 40px 10px 40px;
  border: none;
  background: #05d69b;
  border-radius: 5%;
  color: white;
  margin-bottom: 50px;
}

@media only screen and (min-width: 875px) {
  #section-1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -500px;
  }
  #section-1 .hero-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #section-1 .hero-img img {
    margin-right: 60px;
  }
  #section-1 .hero-text {
    text-align: left;
  }
  #section-1 .hero-text h1 {
    margin-right: 150px;
  }
  #section-1 .hero-text p {
    margin-right: 150px;
  }
  #section-1 .hero-text button {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  #section-1 .hero-img img {
    width: 40vh;
    margin: 0;
  }
  #section-1 .hero-text {
    padding: 0 50px 0 50px;
  }
}

#section-2 {
  text-align: center;
  background: #fafafa;
}

#section-2 .sec-2-text h2 {
  padding: 50px 20px 50px 20px;
}

#section-2 .sec-2-text p {
  padding: 0 20px 80px 20px;
  opacity: 0.65;
  line-height: 1.5;
}

#section-2 .icons .icon-3-1 img {
  width: 30%;
}

#section-2 .icons .icon-3-1 h2 {
  padding: 20px 50px 50px 50px;
}

#section-2 .icons .icon-3-2 img {
  width: 33%;
}

#section-2 .icons .icon-3-2 h2 {
  padding: 20px 50px 50px 50px;
}

#section-2 .icons .icon-3-3 img {
  width: 45%;
}

#section-2 .icons .icon-3-3 h2 {
  padding: 20px 50px 50px 50px;
}

@media only screen and (min-width: 875px) {
  #section-2 {
    margin-top: 250px;
  }
  #section-2 .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #section-2 .icons .icon-3-3 {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  #section-2 .sec-2-text p {
    padding-left: 200px;
    padding-right: 200px;
  }
}

#section-3 {
  text-align: center;
}

#section-3 .sec-3-text h2 {
  padding: 50px 50px 50px 30px;
}

#section-3 .sec-3-text p {
  padding: 0 20px 50px 20px;
  opacity: 0.65;
  line-height: 1.5;
}

#section-3 .apps-3-1 .slack {
  margin: 20%;
  border-style: solid;
  border-radius: 40px;
}

#section-3 .apps-3-1 .slack img {
  padding: 20px;
  width: 60%;
  border-bottom: solid;
}

#section-3 .apps-3-1 .slack .app-text {
  padding: 20px 20px 20px 20px;
}

#section-3 .apps-3-1 .slack .app-text h3 {
  padding-bottom: 10px;
}

#section-3 .apps-3-1 .asana {
  margin: 20%;
  border-style: solid;
  border-radius: 40px;
}

#section-3 .apps-3-1 .asana img {
  padding: 20px;
  width: 60%;
  border-bottom: solid;
}

#section-3 .apps-3-1 .asana .app-text {
  padding: 20px 20px 20px 20px;
}

#section-3 .apps-3-1 .asana .app-text h3 {
  padding-bottom: 10px;
}

#section-3 .apps-3-2 .gsuite {
  margin: 20%;
  border-style: solid;
  border-radius: 40px;
}

#section-3 .apps-3-2 .gsuite img {
  padding: 20px;
  width: 60%;
  border-bottom: solid;
}

#section-3 .apps-3-2 .gsuite .app-text {
  padding: 20px 20px 20px 20px;
}

#section-3 .apps-3-2 .gsuite .app-text h3 {
  padding-bottom: 10px;
}

#section-3 .apps-3-2 .salesforce {
  margin: 20%;
  border-style: solid;
  border-radius: 40px;
}

#section-3 .apps-3-2 .salesforce img {
  padding: 20px;
  width: 60%;
  border-bottom: solid;
}

#section-3 .apps-3-2 .salesforce .app-text {
  padding: 20px 20px 20px 20px;
}

#section-3 .apps-3-2 .salesforce .app-text h3 {
  padding-bottom: 10px;
}

#section-3 .apps-3-3 .trello {
  margin: 20%;
  border-style: solid;
  border-radius: 40px;
}

#section-3 .apps-3-3 .trello img {
  padding: 20px;
  width: 60%;
  border-bottom: solid;
}

#section-3 .apps-3-3 .trello .app-text {
  padding: 20px 20px 20px 20px;
}

#section-3 .apps-3-3 .trello .app-text h3 {
  padding-bottom: 10px;
}

#section-3 .apps-3-3 .typeform {
  margin: 20%;
  border-style: solid;
  border-radius: 40px;
}

#section-3 .apps-3-3 .typeform img {
  padding: 20px;
  width: 60%;
  border-bottom: solid;
}

#section-3 .apps-3-3 .typeform .app-text {
  padding: 20px 20px 20px 20px;
}

#section-3 .apps-3-3 .typeform .app-text h3 {
  padding-bottom: 10px;
}

@media only screen and (min-width: 875px) {
  #section-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #section-3 .sec-3-text {
    text-align: left;
  }
  #section-3 .apps-3-1 .slack {
    margin: 30px 20px 0 0;
  }
  #section-3 .apps-3-1 .asana {
    margin: 30px 20px 0 0;
  }
  #section-3 .apps-3-2 .gsuite {
    margin: 30px 20px 0 0;
  }
  #section-3 .apps-3-2 .salesforce {
    margin: 30px 20px 0 0;
  }
  #section-3 .apps-3-3 .trello {
    margin: 30px 20px 0 0;
  }
  #section-3 .apps-3-3 .typeform {
    margin: 30px 20px 0 0;
  }
}

/*
@media only screen and (min-width: 1025px){
    #section-3{
        .sec-3-text{
            h2{
                padding-left: 50px;
            }
            p{
                padding-left: 50px;
            }
        }
        .apps-3-1{
            .slack{
                margin: 30px 100px 0 100px;
            }
            .asana{
                margin: 30px 100px 0 100px;
            }
        }
        .apps-3-2{
            .gsuite{
                margin: 30px 100px 0 100px;
            }
            .salesforce{
                margin: 30px 100px 0 100px;
            }
        }
        .apps-3-3{
            .trello{
                margin: 30px 20px 0 100px;
            }
            .typeform{
                margin: 30px 20px 0 100px;
            }
        }
    }
}*/
#section-4 {
  text-align: center;
}

#section-4 h2 {
  padding-top: 50px;
}

#section-4 p {
  padding: 30px 20px 30px 20px;
  opacity: 0.65;
}

#section-4 button {
  font-size: 1.5em;
  padding: 10px 40px 10px 40px;
  border: none;
  background: #05d69b;
  border-radius: 5%;
  color: white;
  margin-bottom: 50px;
}

@media only screen and (min-width: 875px) {
  #section-4 {
    padding: 0 250px 0 250px;
  }
}

@media only screen and (min-width: 1024px) {
  #section-4 {
    padding: 0 350px 0 350px;
  }
}

footer {
  background-color: #070439;
  color: white;
}

footer .footer-1-4 {
  padding: 50px 20px 20px 20px;
}

footer .footer-1-4 p {
  padding: 30px 0 30px 0;
}

footer .footer-1-4 .join-footer input {
  padding: 10px 0 10px 0;
  width: 100%;
  border-radius: 5px;
  border: none;
}

footer .footer-1-4 .join-footer button {
  float: right;
  font-size: 1em;
  padding: 10px 40px 10px 40px;
  margin: 10px 0 0 0;
  border: none;
  background: #05d69b;
  border-radius: 5px;
  color: white;
  margin-bottom: 50px;
}

footer .footer-1-4 ul {
  padding-top: 80px;
  list-style-type: none;
}

footer .footer-1-4 ul li {
  line-height: 200%;
}

footer .footer-1-4 ul li img {
  padding: 0 10px 0 0;
}

footer .footer-2-4 {
  padding: 0 0 20px 20px;
}

footer .footer-2-4 ul {
  list-style-type: none;
  line-height: 150%;
}

footer .footer-2-4 ul h2 {
  padding-bottom: 10px;
}

footer .footer-3-4 {
  padding: 0 0 20px 20px;
}

footer .footer-3-4 ul {
  list-style-type: none;
  line-height: 150%;
}

footer .footer-3-4 ul h2 {
  padding-bottom: 10px;
}

footer .footer-4-4 {
  padding: 0 0 20px 20px;
}

footer .footer-4-4 ul {
  list-style-type: none;
  line-height: 150%;
}

footer .footer-4-4 ul h2 {
  padding-bottom: 10px;
}

@media only screen and (min-width: 875px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-1-4 {
    width: 40%;
  }
  footer .footer-1-4 .join-footer input {
    width: 65%;
  }
  footer .footer-1-4 .join-footer button {
    width: 30%;
    margin: 0;
  }
  footer .footer-1-4 ul {
    padding-top: 40px;
  }
  footer .footer-2-4 {
    margin: 80px 0 0 50px;
  }
  footer .footer-3-4 {
    margin: 80px 0 0 50px;
  }
  footer .footer-4-4 {
    margin: 80px 0 0 50px;
  }
}

@media only screen and (min-width: 1024px) {
  footer .footer-2-4 {
    margin: 100px 0 0 80px;
  }
  footer .footer-3-4 {
    margin: 100px 0 0 80px;
  }
  footer .footer-4-4 {
    margin: 100px 0 0 80px;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}
/*# sourceMappingURL=style.css.map */